.back_to_top_button{
    width: 50px;
    height: 50px;
    color: #000;
    background: #eee;    
    border-radius:100%;
    border-style:none;
    position:fixed;
    right:2%;
    bottom:10%;
    cursor: pointer;    
}







