/* menuList */
.menuList{
    width: 100%;
    background: #000;
    height: 50px;
    position:fixed;
    z-index:999;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    color: #fff;
    line-height: 1.5;
    font-weight: bold;
    letter-spacing: 2px;
    top:0px;
    box-sizing:border-box;
    padding:10px;
}

.logo_no_light{
    display: flex;
    margin:0 2vw;
    width: 150px;
    margin: -6px 2vw 0px;
}

.logo_no_light:hover{
    opacity:0.8;
}

.logo_no_light b {
    font: 100 3vh "Baloo Chettan";
    color: #fff;
}

.logo_no_light b i {
    font-size: 1.8vh;
    transform: rotate(50deg);
}


.right_nav{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    line-height: 2;
}


/* hamburger menu-trigger */
.menu-trigger,
.menu-trigger span{
    display: flex;
    transition: all 0.5s;
    box-sizing: border-box;
}

.menu-trigger{
    position: relative;
    width: 30px;
    height:30px;
    line-height: 30px;
    
}

.menu-trigger span{
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 4px;
}

/* 原本預設的那三條span */
.menu-trigger span:nth-child(1){
    top:0px;
}

.menu-trigger span:nth-child(2){
    top:13px;
}

.menu-trigger span:nth-child(3){
    bottom:0px;
}

/* 觸發動畫 */
.menu-trigger.active span:nth-child(1){
    transform: translateY(13px) rotate(-45deg);
}

.menu-trigger.active span:nth-child(2){
    opacity: 0;
    transition: 0.5s;
}

.menu-trigger.active span:nth-child(3){
    transform: translateY(-13px) rotate(45deg);
}

/* 登出按鈕 */
.signout{
    display: flex;
}

.sign_out{
    cursor: pointer;
    display: flex;
    color:#fff;
}

.right_nav a:first-child{
    width: 15%;
    display: flex;
}

.right_nav a:nth-child(2){
    width: 15%;
    display: flex;
}

.member_detail{
    display: flex;
    cursor: pointer;
    flex-direction: row;
    width: 100%;
    color:#fff;
}

.member_detail img{
   width: 30%; 
}

.member_detail p{
    width: 70%;
}

.sign_out img{
    width: 22%; 
 }
 
 .menu-trigger{
     display: none;
 }

 /* RWD */

@media screen and (max-width: 768px) {
    /* .logo_no_light{
        
    }
    .right_nav{
        
    }
     */

    .right_nav a:first-child{
        width: 35%;
    }
    
}