/* 表單css */

.topContent .popup-content {
  width: 30% !important;
  font-weight: bold;
}

.change_form_all {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.6;
  font-size: 16px;
}

.form_title {
  font-size: 1.2vw;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.change_form .form_img {
  width: 50%;
}

.change_form {
  display: flex;
  flex-direction: row;
  text-align: left;
  box-sizing: border-box;
  display: block !important;
}

.change_form form {
  padding: 20px;
  box-sizing: border-box;
}

.change_form .data_block {
  display: flex;
  width: 100%;
  margin:5px 0;
}

.change_form .data_block label, .change_form .data_block select {
  width: 26%;
}

.change_form .data_block select {
  width: 37%;
}

.change_form select, .change_form input, .change_form textarea {
  width: 100%;
  border-style: none;
  border-radius: 5px;
  border: 1px solid #888;
  padding: 2px;
  line-height: 1.5;
  box-sizing: border-box;
}

.change_form textarea {
  resize: none;
}

.change_form .checkbox_style {
  width: 5%;
}

.place_and_change {
  display: flex;
}

.hold_place_block, .change_way_block {
  display: flex;
  width: 50%;
}

.hold_place_block label, .hold_place_block select, .change_way_block label, .change_way_block select {
  width: 50%;
}

.ChangeFormSubmit {
  border-style: none;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #fff;
  font-size: 1.2vw;
  font-weight: bold;
  font-family: "微軟正黑體";
  width: 100%;
  padding: 10px 0px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 8px solid #000;
}

.ChangeFormSubmit:hover {
  background-image: linear-gradient(to left, #434343 0%, black 100%);
}

@media screen and (max-width:1200px) {
  .popup-content {
    /* width: */
  }
}

@media screen and (max-width:768px) {}