/* ------------------MemberProfile------------------ */
.profile{
    width: 70%;
    margin:0 auto;
    line-height: 1.5;
}



/* ------------------MemberProfileApplyData------------------ */
.apply_data_all{
    margin:1vw auto;
}

/* profile裡面的大標題 */
.profile_title{
    font-size: 1.3vw;
    text-align: center;
    margin: 20px auto;
    color:#f6bb42;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

/* 裝飾的橘色線條 */
.border_decoration{
    display: block;
    width: 3%;
    background:#f6bb42;
    height:4px;
    margin:0 auto 2vw auto;
}

.member_apply_data_block ul,.rendermatch_wrap ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.user_apply_data_block{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin:0 1%;
    border-radius:5px;
    line-height: 1.5;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #000;
    box-sizing: border-box;
    align-items: flex-start;
    font-weight: bold;
}


.user_apply_data_block .apply_image{
    width: 12%;
}


.concert_place_exchange_info{
    width: 42%;
    padding: 0px 20px;
    box-sizing: border-box;
}

.reminder_txt{
    width: 25%;
    padding: 0px 20px;
    box-sizing: border-box;
}

.bottom_buttons{
    width: 22%;
}

.bottom_buttons button{
    background: #000;
    color:#fff;
    box-sizing: border-box;
    border-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
    /* 400/500/700/900 */
    font-size: 16px;
    border-radius:5px;
    padding: 12px;
    margin:5px;
}

.bottom_buttons button:hover{
    background: #cca36e;
    transition: all 0.2s;
}


/* ------------------DealResponseDashBoard------------------ */
.apply_block_decide{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:0 1%;
    border-radius:5px;
    line-height: 1.5;
    padding: 10px;
    margin: 10px auto;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #000;
    box-sizing: border-box;
    align-items: flex-start;
    font-weight: bold;
}



.be_applied_document{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}

.imgbox{
    width: 15%;
}

.applicant_list{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 15px auto;
    box-sizing: border-box;
    padding: 10px 10px 15px;
    align-items: center;
    border-bottom: 2px solid #eee;    
}

.apply_title{
    width: 22%;
    box-sizing: border-box;
    padding: 10px;
}

.apply_title p{
    font-size: 1vw;
    text-align: center;
}

.docid_small{
    font-size: 12px;
    color:#777;
}

.info_block{
    width: 45%;
    box-sizing: border-box;
    padding:10px;
}


@media screen and (max-width: 1360px) {
    .user_apply_data_block,.apply_block_decide{
        width:100%;
    }

    .bottom_buttons{
        width: 27%;
    }
}