/* All css */
body,#root{
  background: #000;
  font-family:"微軟正黑體";
  margin:0 auto;
}

#wrap{
    width: 100%;
}

ul, li {
  list-style: none;
}

p{
  margin:0;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  box-sizing:border-box;
}

/* input WebFonts */
@font-face {
  font-family: 'Baloo Bhaijaan Regular';
  font-style: normal;
  font-weight: normal;
  src:url('/BalooChettan-Regular.woff') format('woff');
}















